* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Blue-600: hsl(185, 75%, 39%);
  --Navy-950: hsl(229, 23%, 23%);
  --Gray-500: hsl(227, 10%, 46%);
  --Gray-100: hsl(225, 10%, 92%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
.main-container {
  background-color: var(--Blue-600);
  background-image: url(../images/bg-pattern-top.svg);
  background-position: -400px -500px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container::after {
  content: "";
  background-image: url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  bottom: -103px;
  width: 500px;
  height: 400px;
}

.main-container .card {
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 767px) {
  .main-container .card {
    width: 350px;
  }
}
.main-container .card .section-1 {
  width: 100%;
  height: calc(75% / 2);
}
.main-container .card .section-1 img {
  max-width: 100%;
  width: 400px;
  height: 100%;
}
.main-container .card .section-2 {
  width: 100%;
  height: calc(75% / 2);
  border-bottom: 1px solid black;
}
.main-container .card .section-2 .image img {
  transform: translate(-50%, -50%);
  margin-left: 50%;
  width: 100px;
  border-radius: 50%;
  border: 5px solid white;
}
.main-container .card .section-2 .info {
  text-align: center;
  transform: translateY(-40px);
}
.main-container .card .section-2 .info h4 {
  font-size: 18px;
  margin-bottom: 10px;
} 
.main-container .card .section-2 .info h4 span {
  color: var(--Gray-500);
  font-weight: normal;
  
}
.main-container .card .section-2 .info p {
  color: var(--Gray-500);
  font-size: 18px;
}
.main-container .card .section-3 {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.main-container .card .section-3 div {
  text-align: center;
}
.main-container .card .section-3 div span {
  font-weight: 700;
  font-size: 20px;
}
.main-container .card .section-3 div p {
  font-size: 13px;
  margin-top: 5px;
  color: var(--Gray-500);
}
